<svg
  {...Astro.props}
  version="1.0"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1170.000000 375.000000"
  preserveAspectRatio="xMidYMid meet"
>
  <title>FullRex Logo</title>
  <g
    transform="translate(0.000000,375.000000) scale(0.100000,-0.100000)"
    fill="#FF0000"
    stroke="#070A29"
    stroke-width="25"
    shape-rendering="geometricPrecision"
  >
    <path d="M4785 2890 c-26 -29 -12 -64 39 -99 187 -126 706 -494 706 -500 0 -5 -40 -10 -89 -13 -102 -5 -124 -16 -119 -61 3 -32 47 -65 327 -242 61 -38 180 -115 264 -170 l152 -100 -55 -8 c-91 -14 -102 -21 -98 -64 l3 -38 445 -278 c245 -153 508 -317 585 -366 327 -205 403 -251 418 -251 24 0 47 28 47 58 0 20 -40 72 -156 207 -86 99 -195 225 -243 280 -47 55 -98 114 -112 130 -126 143 -209 241 -209 247 0 5 49 8 109 8 119 0 141 9 141 55 0 26 -22 46 -225 207 -72 57 -181 143 -243 192 -62 49 -110 91 -108 94 3 2 51 4 108 3 121 -2 152 9 156 54 2 25 -15 50 -105 156 -60 69 -128 149 -153 179 -25 30 -100 118 -168 197 l-123 143 -638 0 c-621 0 -638 -1 -656 -20z"/>
    <path d="M456 2368 c-14 -20 -16 -86 -16 -519 0 -468 1 -497 18 -512 16 -15 49 -17 257 -17 215 0 239 2 251 18 10 12 13 63 14 195 l0 177 245 0 c305 0 285 -11 285 155 0 166 20 155 -285 155 l-245 0 0 24 0 25 296 3 c279 3 296 4 310 22 21 29 20 243 -2 274 l-15 22 -549 0 -549 0 -15 -22z"/>
    <path d="M1737 2372 c-15 -17 -17 -55 -17 -338 0 -288 2 -326 20 -388 35 -123 105 -202 235 -267 103 -51 191 -67 400 -75 249 -10 394 13 523 81 79 41 150 106 188 170 49 85 54 124 54 476 0 303 -1 327 -18 342 -16 15 -49 17 -249 17 -210 0 -231 -2 -246 -18 -15 -16 -17 -55 -17 -333 0 -230 -4 -321 -13 -339 -44 -88 -289 -87 -334 1 -9 18 -13 109 -13 341 0 274 -2 319 -16 332 -13 14 -50 16 -248 16 -213 0 -234 -2 -249 -18z"/>
    <path d="M3326 2368 c-14 -20 -16 -86 -16 -520 0 -438 2 -498 16 -512 14 -14 80 -16 583 -16 465 0 571 2 580 14 17 20 24 265 8 296 l-13 25 -314 5 -315 5 -5 348 c-5 330 -6 349 -24 363 -16 11 -67 14 -252 14 -229 0 -233 0 -248 -22z"/>
    <path d="M4596 2368 c-14 -20 -16 -86 -16 -519 0 -468 1 -497 18 -512 17 -15 72 -17 584 -17 514 0 567 2 579 17 18 21 17 287 -2 309 -9 12 -64 14 -325 14 l-314 0 0 345 c0 332 -1 346 -20 365 -19 19 -33 20 -254 20 -231 0 -235 0 -250 -22z"/>
    <path d="M7046 2375 c-14 -15 -16 -66 -16 -524 0 -381 3 -510 12 -519 9 -9 79 -12 255 -12 229 0 243 1 253 19 6 12 10 92 10 190 0 163 1 171 20 171 33 0 88 -58 212 -222 l118 -158 268 0 c287 0 292 1 292 51 0 31 -173 275 -253 357 -43 43 -49 54 -37 62 8 5 18 10 22 10 19 0 122 109 140 148 31 69 29 172 -4 237 -30 58 -87 114 -148 145 -95 49 -143 53 -651 57 -432 4 -478 3 -493 -12z m753 -306 c34 -12 42 -42 14 -54 -20 -8 -242 -22 -249 -16 -2 2 -4 22 -4 43 l0 38 104 0 c56 0 117 -5 135 -11z"/>
    <path d="M8520 2370 c-19 -19 -20 -33 -20 -518 0 -471 1 -500 18 -515 17 -16 93 -17 898 -17 l880 0 108 125 c125 143 135 153 144 138 4 -6 56 -67 116 -137 l110 -126 268 0 c254 0 268 1 278 19 20 38 9 58 -88 162 -289 308 -332 355 -332 369 0 8 24 40 53 70 29 30 117 126 195 212 148 164 161 188 124 221 -16 15 -50 17 -266 17 l-248 0 -26 -29 c-15 -15 -63 -74 -107 -130 l-80 -102 -33 38 c-18 21 -67 80 -108 131 l-75 92 -250 0 c-153 0 -258 -4 -270 -10 -12 -7 -19 -21 -19 -42 0 -33 14 -51 139 -183 134 -142 246 -267 249 -279 1 -6 -12 -27 -30 -46 -28 -31 -91 -98 -318 -342 -29 -32 -57 -58 -62 -58 -4 0 -8 42 -8 93 0 78 -3 97 -18 110 -17 15 -56 17 -360 17 -188 0 -342 3 -343 8 0 4 -2 15 -4 26 -9 46 -12 46 315 46 267 0 311 2 324 16 21 20 23 240 3 268 -11 16 -38 17 -308 16 -163 0 -304 2 -313 6 -9 3 -16 12 -16 20 0 12 54 14 323 14 239 0 328 4 347 13 24 12 25 15 28 141 2 109 0 132 -14 147 -16 18 -44 19 -601 19 -570 0 -583 0 -603 -20z"/>
  </g>
</svg>
